{% extends 'base.html' %} 

{% block title%}Products{% endblock%}

{% block content%}

<!-- items -->
<div class="container">
	<div class="d-flex mt-3">
		<div class="card" style="width: 18rem">
			<img
				src="https://4.imimg.com/data4/YL/CL/MY-5284368/mango-pulp-500x500.jpg"
				class="card-img-top"
				alt="..."
			/>
			<div class="card-body">
				<h5 class="card-title">Mango Pulp</h5>
				<p class="card-text">
					Delicious Mango pulp with authentic mangoes.
				</p>
				<a href="#" class="btn btn-primary">Buy Now</a>
			</div>
		</div>
	
		<div class="card" style="width: 18rem">
			<img
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEnQT7Gt4GeQJImi7KGbBJ9po-7pOMlfUQfw&usqp=CAU"
				class="card-img-top"
				alt="..."
			/>
			<div class="card-body">
				<h5 class="card-title">Jagerry</h5>
				<p class="card-text">
					Delicious Jaggery with authentic Sugarcanes.
				</p>
				<a href="#" class="btn btn-primary">Buy Now</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
