{% extends 'base.html' %} 

{% block title%}Search Resuls{% endblock%} 

{% block style %}
    <style>
       .card{
           border: none;
       }
    </style>
{% endblock %}

{% block content %}
    {% if results %}
        <div class="container mt-5">
			<h3 class="text-muted">Results Found: </h3>
        <div class="container">
			<div class="row mt-4 mb-5">
				{% for i in results %}
				<div class="card" style="width: 20rem;">
					<img src="{{ i.image.url }}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{ i.name }}</h5>
						<h4 class="card-title">Rs.{{ i.price }}</h4><br>
						<a href="/products/{{i.name}}/" class="btn btn-primary">View</a>
						<a href="#" class="btn btn-primary"><i class="bi bi-plus-circle" ></i> Add to cart</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		</div>
    {% endif %}



{% endblock %}
